.footer {
	display: grid;

	padding: 20px 30px;

	color: var(--white);
	background: var(--primary);
	grid-template-columns: 1fr auto auto;
	gap: 40px;
}

@media (max-width: 765px) {
	.footer {
		grid-template-columns: 1fr;
	}
}
